.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer-logo p {
  color: #383838;
  font-size: 46px;
  font-weight: bold;
  font-weight: 800;
}

.footer-link {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #252525;
  font-size: 15px;
}

.footer-link li {
  cursor: pointer;
}

.footer-social-icon {
  display: flex;
  gap: 20px;
}

.footer-icons-container{
  padding: 5px;
  padding-bottom: 6px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer-copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  color: #1a1a1a;
  font-size: 15px;
}

.footer-copyright p {
  color: #1a1a1a;
  font-size: 12px;
  font-weight: bold;
}


.footer-copyright hr {
  width: 80px;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #c7c7c7;
}




